body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.output-box {
    margin-top: 20px;
    padding: 20px;
    font-size: 24px;
    color: #fff;
    background-color: #e74c3c;
    border-radius: 10px;
    display: none;
}
.title{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}